@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";
@import "../../styles.scss";

.containerr {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;
  height: 100%;
}

.header {
  height: 70px;
  background-color: $purple-100;
  display: flex;
  justify-content: center;
  align-items: center;
  .navUl {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    list-style: none;
    margin: 0;
    > *:not(:last-child) {
      margin-right: 20px;
    }
    a {
      text-decoration: none;
      color: $blue-700;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.footer {
  height: 300px;
}
