<div class="friends-container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        [placeholder]="'Filter your friends...'"
        aria-label="Fiend-filter"
        matInput
        style="width: 300px"
        [(ngModel)]="inputValue"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onFilterChange()"
      />
    </mat-form-field>
    <button (click)="clearFilter()" class="add-btn">Clear</button>
  </form>

  <h2>Friends List</h2>
  <div class="friends-list">
    <div
      class="no-user-text"
      *ngIf="this.friends.length === 0"
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 500px;
      "
    >
      <h2 style="width: 400px">
        You don't have any friends yet! <br />
        Click here <br />
        <span><a routerLink="users">to see online users.</a></span>
      </h2>
    </div>
    <div class="app" *ngIf="filteredFriends.length > 0">
      <app-friend-card
        *ngFor="let friend of filteredFriends; let index = id"
        [friend]="friend"
        (removeFriend)="onRemoveFriend($event)"
        [friendIndex]="index"
      >
      </app-friend-card>
    </div>
    <div class="no-user" *ngIf="filteredFriends.length === 0">
      <h2>No users match your filter</h2>
    </div>
  </div>

  <div class="chart">
    <friend-chart [friends]="this.friends"></friend-chart>
  </div>
</div>
