@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/variables";
@import "../../../../styles.scss";

.friendsViewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  h2 {
    text-align: center;
    padding: 20px;
  }
  .example-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 150px;
    max-width: 350px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .add-btn {
    @include btn;
    background-color: $cyan-600;
    color: $gray-200;
    width: 100px;
    padding: 10 30px;
  }
  // Friend

  .friendsList {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    nav {
      a {
        text-decoration: none;
        color: $blue-700;
        font-size: 22px;
      }
    }
    > *:not(:nth-child(4n)) {
      margin-right: 20px;
    }
  }
}

.friendsViewContainer ::-webkit-scrollbar {
  display: none;
}
