<form class="example-form" style="max-width: 100%">
    <mat-form-field class="title">
      <mat-label>Title...</mat-label>
      <input
        class="message"
        matInput
        #message1
        maxlength="43"
        [(ngModel)]="title"
        [ngModelOptions]="{ standalone: true }"
        style="font-size: 18px; font-weight: 500; width: 200px"
        (ngModelChange)="onFormChange('title', $event)"
      />

      <mat-hint align="end">{{ message1.value.length }} / 43</mat-hint>
    </mat-form-field>
    <mat-form-field class="description">
      <mat-label>Description...</mat-label>
      <input
        class="message"
        matInput
        #message2
        maxlength="165"
        [(ngModel)]="description"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onFormChange('description', $event)"
        style="font-size: 18px; font-weight: 500; width: 500px"
      />

      <mat-hint align="end">{{ message2.value.length }} / 165</mat-hint>
    </mat-form-field>

    <div class="buttons">
      <button
        class="button"
        [disabled]="isDisabled"
        [style]="
          isDisabled
            ? 'background:#545b77;color:grey;'
            : 'background:#58AD91'
        "
        (click)="addSubtask()"
      >
        Add
      </button>
      <button (click)="updateInput()" class="button">Clear</button>
    </div>
  </form>
