<div class="container">
  <div class="panel">
    <h2 class="title" style="margin-bottom: 30px">
      Detailed view of task
      {{ index === -1 ? "" : index + 1 }}
    </h2>

    <!-- <input [(ngModel)]="task.description" /> -->
    <h2 *ngIf="index < 0">No task</h2>
    <div *ngIf="index > -1">
      <div
        style="
          background-color: white;
          border-radius: 10px;
          padding: 6px;
          margin-bottom: 50px;
          margin-top: 40px;
        "
      >
        <p
          class="description"
          maxlength="80"
          style="width: 360px; height: 90px"
        >
          {{ this.tasks[index].description }}
        </p>
      </div>

      <div class="checkbox">
        <h3>Check if done:</h3>
        <mat-checkbox
          class="example-margin"
          color="primary"
          #checkbox
          [checked]="tasks[index].completed"
          (change)="this.onTaskCheckClick.emit(this.index)"
        ></mat-checkbox>
      </div>

      <div class="checkbox">
        <h3>Press to delete</h3>
        <button
          mat-fab
          color="warn"
          style="
            font-size: 20px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: violet;
          "
          (click)="this.onTaskDelete.emit(this.index)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
