<div class="userCard">
  <img [src]="user.picture.medium" alt="user photo" />
  <div class="userDetails">
    <div class="nameAge">
      <p style="max-width: 150px; overflow: hidden">
        {{ user.name.first }}
      </p>
      <p>{{ user.age }}</p>
    </div>
    <p class="userCountry">{{ user.city }}</p>
  </div>

  <div class="genderImg">
    <img
      [src]="
        user.gender === 'male'
          ? '../../assets/male.png '
          : '../../assets/female.png '
      "
      alt="gender-icon"
    />
  </div>
  <div class="addFriendIcon" (click)="this.addFriend.emit(user.id)">
    <img src="../../assets/plus.png" alt="add-friend-icon" />
  </div>
</div>
