<div class="user-card">
  <img [src]="user.picture.medium" alt="user_photo" />
  <div class="user-details">
    <div class="name-age">
      <p style="max-width: 150px; overflow: hidden">
        {{ user.name.first }}
      </p>
      <p>{{ user.age }}</p>
    </div>
    <p class="user-country">{{ user.city }}</p>
  </div>

  <div class="gender-img">
    <img
      [src]="
        user.gender === 'male'
          ? '../../assets/male.png '
          : '../../assets/female.png '
      "
      alt="gender-icon"
    />
  </div>
  <div class="add-friend-icon" (click)="this.addFriend.emit(user.id)">
    <img src="../../assets/plus.png" alt="add-friend-icon" />
  </div>
</div>
