<div class="info">
  <div class="info__title side">{{ transaction["side"] }}</div>
  <!-- <div class="info__title symbol">{{ activity["symbol"] }}</div>
  <div class="info__title name">{{ activityName }}</div> -->

  <div class="col-info">
    <p class="date">{{ date }}</p>
    <div class="asset_info">
      <div class="symbol">{{ transaction["symbol"] }}</div>
      <div class="name" *ngIf="!isLoading">{{ name }}</div>
      <div class="spinner" *ngIf="isLoading"><app-spinner></app-spinner></div>
    </div>
  </div>

  <div class="info__title quantity">
    <div class="col-inner">
      <p class="title">QTY</p>
      <p class="figures">{{ transaction.qty }}</p>
    </div>
  </div>

  <div class="prices">
    <div class="col-inner">
      <p class="title">START</p>
      <p class="figures">${{ transaction.price }}</p>
    </div>
    <div class="col-arrow"></div>
    <div class="col-inner">
      <p class="title">CURRENT</p>
      <p class="figures">${{ currentPrice }}</p>
    </div>
  </div>
</div>
