<div class="card">
  <mat-card
    style="
      width: 600px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
    "
  >
    <div class="task">
      <p
        style="width: 30px; margin: 0; font-size: 18px; align-self: flex-start"
      >
        {{ taskIndex + 1 }}
      </p>
      <h3 [style.text-decoration]="task.completed ? 'line-through' : 'none'">
        {{ task.description }}
      </h3>
      <mat-checkbox
        class="example-margin"
        color="primary"
        #checkbox
        [checked]="task.completed"
        (change)="this.onTaskCheckClick.emit(this.taskIndex)"
      ></mat-checkbox>
    </div>
  </mat-card>
  <button
    mat-fab
    color="warn"
    style="
      font-size: 20px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: violet;
    "
    (click)="this.onTaskDelete.emit(this.taskIndex)"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button (click)="onCardClick(this.taskIndex)" class="details">details</button>
</div>
