<nav class="navbar navbar-expand-lg navbar-light gb-light">
  <div>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a
          [routerLink]="['alpaca/trading']"
          class="nav-link"
          id="trading"
          [style]="activeView === 1 ? 'color:#7fffd4' : ''"
          >Trading Page</a
        >
      </li>
      <li class="nav-item active">
        <a
          [routerLink]="['alpaca/assets']"
          class="nav-link"
          id="assets"
          [style]="activeView === 2 ? 'color:#7fffd4' : ''"
          >My Assets</a
        >
      </li>
      <li class="nav-item active">
        <a
          [routerLink]="['alpaca/chart']"
          class="nav-link"
          id="chart"
          [style]="activeView === 3 ? 'color:#7fffd4' : ''"
          >Chart</a
        >
      </li>
    </ul>
  </div>
</nav>
