<nav class="navbar navbar-expand-lg navbar-light gb-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="false"
    aria-label=""
  >
    <span class="navbar-toggle-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="" navbarNav>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a [routerLink]="['task-manager']" class="nav-link">Task Manager</a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['friends-list']" class="nav-link">Friends List </a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['alpaca/trading']" class="nav-link">Alpaca App</a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['alpaca/trading']" class="nav-link">Alpaca Trading</a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['alpaca/assets']" class="nav-link">Alpaca Assets</a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['alpaca/chart']" class="nav-link">Alpaca Chart</a>
      </li>
    </ul>
  </div>
</nav>
