.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 12px;
  gap: 10px;
  background-color: #3a4664;
  height: 100%;
  min-height: 100vw;

  li,
  a {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    text-decoration: none;
    color: rgb(247, 247, 241);
  }

  a:active {
    color: #7fffd4;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  color: beige;
}
