@import url("https://fonts.googleapis.com/css?family=Roboto");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  font-family: Raleway, sans-serif;
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  h2 {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600;
    color: #00224d;
  }

  .screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #35374b;
    position: relative;
    height: 600px;
    width: 450px;
    box-shadow: 0px 0px 24px #433f5e;
    padding: 30px 20px;
    border-radius: 10px;
  }

  form {
    width: 100%;
    position: relative;
  }
  form .form-field::before {
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 17px;
    color: #888888;
    content: " ";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  }
  form .form-field:nth-child(1)::before {
    background-image: url("../../../assets/user-icon.png");
    width: 20px;
    height: 20px;
    top: 15px;
  }

  form .form-field:nth-child(2)::before {
    background-image: url("../../../assets/user-icon.png");
    width: 21px;
    height: 22px;
    top: 15px;
  }

  form .form-field:nth-child(3)::before {
    background-image: url("../../../assets/user-icon.png");
    width: 21px;
    height: 22px;
    top: 15px;
  }

  form .form-field:nth-child(4)::before {
    background-image: url("../../../assets/email.svg");
    width: 21px;
    height: 22px;
    top: 15px;
  }
  form .form-field:nth-child(5)::before {
    background-image: url("../../../assets/password.svg");
    width: 21px;
    height: 22px;
    top: 15px;
  }

  .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    position: relative;
  }

  .form-field:not(:last-child) {
    margin-bottom: 10px;
    height: 80px;
  }

  #passwordDiv {
    margin-bottom: 30px;
  }

  form input {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4a4a4a;
    text-indent: 40px;
  }
  #nameInput {
    text-transform: capitalize;
  }

  .loginBtn {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  button:hover {
    background: #c4e201;
  }

  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }

  button:hover svg {
    transform: translateX(5px);
  }

  button:active {
    transform: scale(0.95);
  }

  div.invalid-feedback {
    color: #f38773;
  }

  div.invalid {
    color: #f38773;
    display: flex;
    align-self: flex-start;
    font-size: 14px;
  }

  .eye {
    position: absolute;
    width: 29px;
    height: 25px;
    right: 15px;
    top: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    animation: margin-right 1s;
    transition: margin-right 0.5s;
    img {
      width: 100%;
    }
  }

  .eye:active {
  }
}
