@import "../../../../../assets/scss/mixins";
@import url("https://fonts.googleapis.com/css?family=Roboto");

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 8px;
  width: 100%;
  ::first-letter {
    text-transform: capitalize;
  }
  .text {
    display: flex;
    gap: 8px;
    width: 70%;
    h3 {
      height: 20px;
      margin-bottom: 0px;
      font-size: 14px;
      line-height: 20px;
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-style: normal;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      span {
        font-weight: 500;
        color: cadetblue;
        font-size: 14px;
        margin-right: 10px;
      }
    }

    #titleH3 {
      font-weight: 500;
      font-size: 14px;
    }
    h5 {
      margin: 0;
      span {
        font-weight: 500;
        color: rgb(8, 107, 110);
        font-size: 14px;
        margin-right: 10px;
      }
    }
  }

  p {
    align-self: center;
    width: 30px;
    margin: 0;
    font-size: 16px;
    align-self: center;
  }
}

.subtasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 40px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 30px;
  margin-right: 20px;

  .mat-card {
    // font-family: Roboto, sans-serif;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  button {
    align-self: center;
    margin-left: 20px;
  }
  .example-margin {
    margin: 0 12px;
  }

  mat-checkbox::ng-deep .mat-checkbox-inner-container {
    width: 16px;
    height: 16px;
  }

  .cta {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 600;
    height: 30px;
    font-size: 14px;
  }

  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;

    padding-right: 15px;
    text-transform: uppercase;
  }

  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }

  .cta:hover svg {
    transform: translateX(0);
  }

  .cta:active svg {
    transform: scale(0.9);
  }

  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
    font-size: 14px;
  }

  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 75%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  // New delete button
  .bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 3px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
  }
  .bin-bottom {
    width: 15px;
  }
  .bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
  }
  .bin-button:hover .bin-top {
    transform: rotate(45deg);
  }
  .bin-button:hover {
    background-color: rgb(255, 0, 0);
  }
  .bin-button:active {
    transform: scale(0.9);
  }
}

.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #15f5ba;
  background-color: #15f5ba;
  font-size: 16px;
  border-radius: 5px;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #094d4d;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #15f5ba;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #094d4d;
}

.button:hover {
  background: #15f5ba;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #15f5ba;
}

.button:active {
  border: 1px solid #15f5ba;
}
