@import "../../../../../assets/scss/mixins";
@import "../../../../../assets/scss/variables";
@import "../../../../../styles.scss";

.friendCard {
  --friend-card-width: 150px;
  --friend-card-height: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: var(--friend-card-height);
  width: var(--friend-card-width);
  background-color: $gray-100;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.76);
  margin-bottom: 15px;
  > *:not(:last-child) {
    margin-bottom: 10px;
  }
  p {
    line-height: 20px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 12px;
  }
  img {
    width: 120px;
    border-radius: 7px;
  }

  .genderImg {
    position: absolute;
    right: 15px;
    bottom: 16px;
    height: 30px;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .removeFriendIcon {
    position: absolute;
    right: 7px;
    top: 9px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    img {
      height: 100%;
      width: 100%;
    }
    :active {
      transform: translateY(1px);
    }
  }
  .friendDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    font-weight: 500;
  }
  .nameAge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    > *:not(:last-child) {
      margin-right: 10px;
    }
  }
  .friendCountry {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
  }
}
