@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/variables";
@import "../../../../styles.scss";

.usersList {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  nav {
    a {
      text-decoration: none;
      color: $blue-700;
      font-size: 22px;
    }
  }

  > *:not(:nth-child(3n)) {
    margin-right: 20px;
  }
}

.usersList ::-webkit-scrollbar {
  display: none;
}
