@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";
@import "../../../styles.scss";

.ng-tns-c134-0.ng-star-inserted {
  font-size: 20px;
}

.ng-tns-c135-2 {
  height: 19.5px;
}

:host ::ng-deep .mat-form-field-infix {
  width: auto !important;
  width: unset !important;
}

.container {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    h3 {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 500;
      span {
        font-size: 16px;
        color: cadetblue;
      }
    }
  }

  .basic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
  }

  .ng-tns-c134-1 {
    width: 370px;
  }

  .mat-form-field-type-mat-input {
    height: 90px;
  }

  .example-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    // max-width: 500px;
    width: 100%;
  }

  .mat-form-field-flex {
    // width: 100px;
    // height: 70px;
    margin-right: 20px;
  }

  .title {
    margin-right: 20px;

    height: 80px;
  }

  .description {
    margin-right: 20px;
    height: 80px;
  }

  .add-btn {
    @include btn;
    margin: 0 0px 0 25px;
    background-color: $cyan-600;
    color: $gray-200;
    font-weight: 600;
    width: 100px;
  }

  .button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin: 7px 0px 0 15px;
  }

  .button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }

  .button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  .disabledBtn {
    background-color: $gray-500;
  }

  .tasks {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .chart-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // .chart {
    //   width: 300px;
    //   margin-right: 25%;
    //   margin-left: 25%;
    //   align-self: center;
    // }

    h3 {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: cadetblue;
    }
  }

  @media screen and (max-width: 1300px) {
    flex-direction: column;
  }

  .message ::first-letter {
    text-transform: uppercase;
  }

  .subtaskModal {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    width: 100vh;
    height: 100vh;
    z-index: 9999;
  }
}
