<div class="friendCard">
  <img [src]="friend.picture.large" alt="friened-photo" />
  <div class="friendDetails">
    <div class="nameAge">
      <p style="max-width: 150px; overflow: hidden">
        {{ friend.name.first }}
      </p>
      <p>{{ friend.dob.age }}</p>
    </div>
    <p class="friendCountry">{{ friend.country }}</p>
  </div>

  <div class="genderImg">
    <img
      [src]="
        friend.gender === 'male'
          ? '../../assets/male.png '
          : '../../assets/female.png '
      "
      alt="gender-icon"
    />
  </div>
  <div class="removeFriendIcon" (click)="this.removeFriend.emit(friend.id)">
    <img src="../../assets/remove-icon.png" alt="add-friend-icon" />
  </div>
</div>
