@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/variables";
@import "../../../../styles.scss";

.friendCard {
  --friend-card-width: 280px;
  --friend-card-height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: var(--friend-card-height);
  width: var(--friend-card-width);
  background-color: $gray-100;
  padding: 15px;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.76);
  margin-bottom: 15px;
  > *:not(:last-child) {
    margin-bottom: 10px;
  }
  p {
    line-height: 48px;
    margin-bottom: 0;
  }

  img {
    width: 250px;
    border-radius: 7px;
  }

  .genderImg {
    position: absolute;
    right: 15px;
    bottom: 16px;
    height: 30px;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .removeFriendIcon {
    position: absolute;
    right: 7px;
    top: 9px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    img {
      height: 100%;
      width: 100%;
    }
    :active {
      transform: translateY(1px);
    }
  }
  .friendDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;
    font-weight: 500;
  }
  .nameAge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    height: 35px;
    line-height: 30px;
    > *:not(:last-child) {
      margin-right: 10px;
    }
  }
  .friendCountry {
    font-size: 18px;
    height: 35px;
    line-height: 30px;
  }
}
