@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  font-weight: 500;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(90deg, #c5d6f4, #abcfd1);
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
