<section class="right" style="width: 100%; padding: 10px">
  <nav>
    <!-- <li>
        <a routerLink="/friends-list/my-friends" id="my-friends"
          >My Friends</a
        >
      </li> -->

    <a
      routerLink="/friends-list"
      id="users-online"
      style="text-decoration: none; font-size: 22px; font-weight: 600"
      >Back to friends list</a
    >
  </nav>
  <hr />
  <h2>Online Users:</h2>

  <div class="content">
    <div id="wifi-loader" *ngIf="isLoading">
      <svg class="circle-outer" viewBox="0 0 86 86">
        <circle class="back" cx="43" cy="43" r="40"></circle>
        <circle class="front" cx="43" cy="43" r="40"></circle>
        <circle class="new" cx="43" cy="43" r="40"></circle>
      </svg>
      <svg class="circle-middle" viewBox="0 0 60 60">
        <circle class="back" cx="30" cy="30" r="27"></circle>
        <circle class="front" cx="30" cy="30" r="27"></circle>
      </svg>
      <svg class="circle-inner" viewBox="0 0 34 34">
        <circle class="back" cx="17" cy="17" r="14"></circle>
        <circle class="front" cx="17" cy="17" r="14"></circle>
      </svg>
      <div class="text" data-text="Searching"></div>
    </div>

    <div class="usersList">
      <app-user-card
        *ngFor="let user of users; let index = id"
        [user]="user"
        (addFriend)="onAddFriend($event)"
        [userIndex]="index"
      >
      </app-user-card>
    </div>
  </div>
  <!-- Loader -->
</section>
